{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 text-center">
            <h3 class="mt-5">Your Shopping Cart</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="container z-depth-1 my-3 rounded">

            <!-- Shopping bag content from MDBootstrap tweaked for FZV -->
            <!-- Section: Block Content -->
            <section>
            {% if cart_items %}
                    <!-- Shopping Cart table -->
            <div class="table-responsive">
                <table class="table product-table mb-3 p-5">
                    <!-- Table head -->
                    <thead mdb-color lighten-5>
                    <tr>
                        <th></th>
                        <th class="font-weight-bold">
                        <strong>Concert</strong>
                        </th>
                        <th></th>
                        <th class="font-weight-bold">
                        <strong>Price</strong>
                        </th>
                        <th class="font-weight-bold">
                        <strong>QTY</strong>
                        </th>
                        <th class="font-weight-bold">
                        <strong>Amount</strong>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <!-- Table head -->
                    <!-- Table body -->
                    <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <th scope="row">
                            <img src="/media/{{ item.concert.concert_image }}" 
                                alt="{{ item.concert.friendly_name }}"
                                class="img-fluid z-depth-0">
                        </th>
                        <td>
                            <h5 class="my-2">
                                <strong>{{ item.concert.friendly_name }}</strong>
                            </h5>
                            <p class="text-muted">{{ item.concert.concert_date }}</p>
                        </td>
                        <td></td>
                        <td>
                            <p class="mt-2">&euro;{{ item.concert.concert_price }}</p>
                        </td>
                        <td>
                            <form class="form update-form text-center update-link" 
                                action="{% url 'adjust_cart' item.item_id %}" method="POST">
                            {% csrf_token %}
                            <input class="form-control form-qty update-link" type="number" name="quantity" 
                                value="{{ item.quantity }}" min="1" max="99" 
                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                            <a class="update-link"><i class="fas fa-sync-alt text-primary"></i></a>
                            </form>
                        </td>
                        <td>
                            <p class="mt-2">&euro;{{ item.concert.concert_price | calc_subtotal:item.quantity }}</p>
                        </td>
                        <td>
                            <a href="{% url 'remove_from_cart' item.item_id %}" id="remove_{{ item.item_id }}" 
                                class="btn-floating btn-md mt-2" data-toggle="tooltip" data-placement="top"
                                title="Remove item"><i class="fas fa-times-circle text-danger"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <!-- Table body -->
                </table>
                <div class="clearfix">
                    <div class="font-weight-bold float-right">
                        Grand Total: <strong>&euro;{{ grand_total|floatformat:2 }}</strong>
                        <button type="button" class="btn btn-primary btn-rounded text-right">Complete purchase
                            <i class="fas fa-angle-right right"></i>
                        </button>
                    </div>
                </div>
            </div>
                <!-- Shopping Cart table -->
            {% else %}
                <h5>Your shopping cart is empty</h5>
                <a href="{% url 'concerts' %}"
                    class="btn btn-warning btn-md uppercase-font"><i class="fas fa-backward mr-2"></i> back to concerts
                    
                </a>

            {% endif %}
            </section>
            <!-- Section: Block Content -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    // quantity update function
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // remove concert from bag and update
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}"
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/$(itemId)/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
            .done(function() {
                location.reload();
            });
    })
</script>
{% endblock %}