{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="mt-5 pt-5">
    <div class="container">

      <!--Section: Jumbotron-->
      <section class="card transparant wow" id="intro">

        <!-- Content -->
        <div class="card-body text-black text-center py-5 px-5 my-5">

          <h1 class="mb-4">
            <strong>Classical Pearls Crossing Borders</strong>
          </h1>
          <h2>
            18 September - 16 October 2020
          </h2>
          <p class="mb-4">Festival van Zeeuwsch-Vlaanderen creates concert halls behind the dikes every year. Special, often surprising locations in this noteworthy, different area, 
          situated in the periphery of the art cities and concert halls in Flanders. The chosen theme for edition 32 is:<br>
          <strong>“Classical Pearls Crossing Borders"</strong>.<br>
          With it's rural and intercultural appeal the Festival van Zeeuwsch-Vlaanderen proudly settled among the well known classical music events in Western Europe and has a 
          great reputation within The Netherlands and abroad. It's a fixed value for Zealand's cultural agenda.
          Every year you're sure to experience great symphony orchestras, chamber music ensembles, soloist who are often winners of national and international musical competitions.<br>
          Come and discover how contemporary classical music actually is. You're most welcome!</br>
          Our team is going to the limit to offer you a Corona-proof classical experience you'll never forget. Of course we count on your own preventive measures too.</p>
          <a target="_blank" href="" class="btn btn-outline-white btn-lg">Enjoy
            <i class="fas fa-graduation-cap ml-2"></i>
          </a>

        </div>
        <!-- Content -->
      </section>
      <!--Section: Jumbotron-->
    </div>
</div>
{% endblock %}