{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

  <!-- MDBootstrap caroussel -->
  <!--Section: Content-->
  <div class="text-center dark-grey-text">
    
    <style>
      .carousel-multi-item.v-2 .carousel-inner .carousel-item.active,
      .carousel-multi-item.v-2 .carousel-item-next,
      .carousel-multi-item.v-2 .carousel-item-prev {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .carousel-multi-item.v-2 .carousel-item-right.active,
      .carousel-multi-item.v-2 .carousel-item-next {
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%); }
      .carousel-multi-item.v-2 .carousel-item-left.active,
      .carousel-multi-item.v-2 .carousel-item-prev {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      .carousel-multi-item.v-2 .carousel-item-right,
      .carousel-multi-item.v-2 .carousel-item-left {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
    </style>
    
    <div class="row">
      <div class="col-md-12">

        <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2 mt-4" data-ride="carousel">

          <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="/media/01_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 1">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="/media/03_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 3">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="/media/04_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 4">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="/media/05_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 05">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="/media/07_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 7">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="/media/09_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 9">
                </div>
              </div>
            </div>
          </div>
        </div>
          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating bg-transparent z-depth-0 m-0" href="#carousel-example-multi" data-slide="prev"><i class="dark-grey-text fas fa-chevron-left"></i></a>
            <a class="btn-floating bg-transparent z-depth-0 m-0" href="#carousel-example-multi" data-slide="next"><i class="dark-grey-text fas fa-chevron-right"></i></a>
          </div>
          <!--/.Controls-->

      </div>
    </div>
  </div>
  <!--Section: Content-->
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-8 text-center mb-5">
            <h1 class="pearl-text mb-4 text-warning display-4">
                <strong>Boundless Classical Pearls</strong>
            </h1>
            <h4>Footage of previous concerts</h4>
            <br>
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F110397946983239%2Fvideos%2F2369339506716893%2F&amp;show_text=0&amp;width=261" 
                width="261" height="476" scrolling="no" frameborder="0" allowfullscreen="true">
            </iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Fiqpit6FL5c" 
                frameborder="0" allowfullscreen>
            </iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kT0vLBmSy4A" 
                frameborder="0" allowfullscreen>
            </iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6hbM5RZDorQ" 
                frameborder="0" allowfullscreen>
            </iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6hbM5RZDorQ" 
                frameborder="0" allowfullscreen>
            </iframe>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" 
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/445815678&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}
