{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

  <!-- MDBootstrap caroussel -->
  <!--Section: Content-->
  <div class="text-center dark-grey-text">
    
    <style>
      .carousel-multi-item.v-2 .carousel-inner .carousel-item.active,
      .carousel-multi-item.v-2 .carousel-item-next,
      .carousel-multi-item.v-2 .carousel-item-prev {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .carousel-multi-item.v-2 .carousel-item-right.active,
      .carousel-multi-item.v-2 .carousel-item-next {
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%); }
      .carousel-multi-item.v-2 .carousel-item-left.active,
      .carousel-multi-item.v-2 .carousel-item-prev {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
      .carousel-multi-item.v-2 .carousel-item-right,
      .carousel-multi-item.v-2 .carousel-item-left {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
    </style>
    
    <div class="row">
      <div class="col-md-12">

        <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2 mt-4" data-ride="carousel">

          <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="{{ MEDIA_URL }}02_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 2">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="{{ MEDIA_URL }}06_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 6">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="{{ MEDIA_URL }}08_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 8">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="{{ MEDIA_URL }}10_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 10">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="{{ MEDIA_URL }}04_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 4">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12 col-md-6 mb-4 mx-auto">
                <div class="view rounded z-depth-1-half">
                  <img src="{{ MEDIA_URL }}05_fzv2020.jpg" class="img-fluid rounded" alt="Festival image 5">
                </div>
              </div>
            </div>
          </div>
        </div>
          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating bg-transparent z-depth-0 m-0" href="#carousel-example-multi" data-slide="prev"><i class="dark-grey-text fas fa-chevron-left"></i></a>
            <a class="btn-floating bg-transparent z-depth-0 m-0" href="#carousel-example-multi" data-slide="next"><i class="dark-grey-text fas fa-chevron-right"></i></a>
          </div>
          <!--/.Controls-->

      </div>
    </div>
  </div>
  <!--Section: Content-->
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-8 text-center mb-5">
            <h1 class="pearl-text mb-4 text-warning display-4">
                <strong>Tickets</strong>
            </h1>
            <h4>for edition 2020</h4>
            <br>
            <p class="mb-4">Tickets can be bought through our website. Check the program and just click 'order tickets'. 
            However up till an hour befor the concert commences, tickets can be bought at the concert location too.</p>
            <p>Returning and refunding of purchased tickets is not possible. Terms and conditions of the Dutch Stichting 
            Kaartverkoop Netwerk Nederland and theaters linked to this organisation can be requested at the locations.</p>
            <p>If you're interested to attend concerts with a group, please contact us for a bespoke offer.
            Call us on +31 115 649 751 or mail us: info@festival-zvl.nl</p>
            <h5 class="pearl-text text-warning">Come and discover how contemporary classical music actually is. You're most welcome!</h5>
            <a href="{% url 'concerts' %}" class="btn btn-outline-blue btn-lg mb-5 rounded-top">Enjoy
                <i class="fas fa-music ml-2"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}