{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<section>
    <!-- MDBoostrap form tweaked for Festival -->
    <h3 class="text-center my-2 display-4"><strong>Your Profile</strong></h3>
    <hr class="w-header my-3">
    <p class="lead text-center text-muted pt-2 mb-5">Check your details and update if necessary:</p>
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="md-form md-outline form-lg">
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    <fieldset class="form-control form-control-lg">
                        <legend class="fieldset-label pearl-text text-warning ml-2">Default Delivery Information</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <button class="btn btn-blue btn-lg mb-5 rounded-top">Update Information</button>
                </form>
                    <fieldset class="form-control form-control-lg">
                        <legend class="fieldset-label pearl-text text-warning ml-2">Order History</legend>
                        {{ orders }}
                    </fieldset>
            </div>
        </div>
    </div>
</section>{% endblock %}

{% block postloadjs %}
{% endblock %}
