{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 text-center">
            <h5 class="mt-5">Your Profile</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="container z-depth-1 p-3 my-3">{{ profile }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    <!-- django templates variables can't be rendered in external js so we need json-script -->
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}
