{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<section>
    <!-- MDBoostrap form tweaked for Festival -->
    <h3 class="text-center my-2 display-4"><strong>Thank you</strong></h3>
    <hr class="w-header my-3">
    <p class="lead text-center text-muted pt-2 mb-5">We have received your order (a confirmation will be sent to <strong>{{ order.email }}</strong>) for the following:</p>
    <div class="row d-flex justify-content-center">
        <div class="col-6 mb-2">
            <div class="card z-depth-0 bordered border-light">
                <div class="card-body p-0">
                    <div class="col-md-12 grey lighten-4 rounded-left pt-4">
                        <h5 class="font-weight-bold pearl-text mb-2">Order Info:</h5>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">Order number:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.order_number }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">Order date:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.date }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card z-depth-0 bordered border-light">
                <div class="card-body p-0">
                    <div class="col-md-12 grey lighten-4 rounded-left pt-4">
                        <h5 class="font-weight-bold pearl-text mb-2">Order Details:</h5>
                        {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">{{ item.concert.friendly_name }}</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ item.quantity }} tickets at &euro; {{ item.concert.concert_price }} per ticket</p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="card z-depth-0 bordered border-light">
                <div class="card-body p-0">
                    <div class="col-md-12 grey lighten-4 rounded-left pt-4">
                        <h5 class="font-weight-bold pearl-text mb-2">To be sent to:</h5>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">Full Name:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.full_name }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">Address:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.street_address1 }}</p>
                            </div>
                        </div>

                        {% if order.street_address2 %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2"></p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.street_address2 }}</p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">Postcode:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.postcode }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">City:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.town_or_city }}</p>
                            </div>
                        </div>

                        {% if order.county %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">County:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.county }}</p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">Country:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.country }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted mb-2">Phone:</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-light text-muted mb-2 text-right">{{ order.phone_number }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card z-depth-0 bordered border-light">
                <div class="card-body p-0">
                    <div class="col-md-12 grey lighten-4 rounded-left pt-4">
                        <h5 class="font-weight-bold pearl-text">Order Total:</h5>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-normal text-muted"></p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="font-weight-bold text-muted text-right">&euro; {{ order.grand_total }}</p>
                            </div>
                        </div>
                            {% if from_profile %}
                            <a href="{% url 'profile' %}" class="btn btn-warning btn-md uppercase-font">
                                <i class="fas fa-backward mr-2"></i> back to profile</a>
                            {% else %}
                            <a href="{% url 'concerts' %}" class="btn btn-warning btn-md uppercase-font">
                                <i class="fas fa-backward mr-2"></i> back to concerts</a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{% endblock %}
