{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<section>
    <!-- MDBoostrap form tweaked for Festival -->
    <h3 class="text-center my-2 display-4"><strong>Checkout</strong></h3>
    <hr class="w-header my-3">
    <p class="lead text-center text-muted pt-2 mb-5">Please complete your order by filling in this form:</p>
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="md-form md-outline form-lg">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="form-control form-controle-lg">
                    <legend class="fieldset-label pearl-text">Personal Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="form-control form-controle-lg">
                    <legend class="fieldset-label pearl-text">Delivery Details</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                </fieldset>
            </form>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <button class="btn btn-block btn-primary btn-lg">Checkout</button>
            </div>
        </div>
    </div>
</section>{% endblock %}
