html {
    height: 100%;
}

body {
    margin: 0;
    background: url('/media/Pearls.jpg') no-repeat right center fixed;
    color: #00396D;
    font-family: 'Raleway', sans-serif;
}

/* colours */
.fzv-blue {
    color: #00396D;
}

.bg-blue {
    background-color: #00396D;
}

/* from Bulma as suggested by CI */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.uppercase-font {
    text-transform: uppercase;
}

.pearl-text {
    font-family: 'Satisfy', cursive;
}

.fzv-logo {
    width: fit-content;
}

/* tweaks in bootstrap styles */
.container-fluid {
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.row, .col {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

