html {
    height: 100%;
}

body {
    margin: 0;
    background: url('https://andeweg-festival-zvl.s3.amazonaws.com/media/Oester_back.jpg') no-repeat right bottom fixed;
    color: #00396D;
    font-family: 'Raleway', sans-serif;
    padding-top: 135px;
    padding-bottom: 100px;
}

/* colours */
.fzv-blue {
    color: #00396D;
}

.bg-blue {
    background-color: #00396D;
}

/* from Bulma as suggested by CI */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.uppercase-font {
    text-transform: uppercase;
}

.pearl-text {
    font-family: 'Satisfy', cursive;
}

.fzv-logo {
    width: fit-content;
}

/* tweaks in bootstrap styles */
.container-fluid {
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.row, .col {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.form-qty {
    max-width: 60px;
    min-width: 60px;
}

.btn-block {
    display: inline-block !important;
}

/* Bootstrap toasts styling and positioning */
.message-container {
    position: fixed;
    right: 38%;
    top: 150px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* allauth styling */
.allauth-form-inner-content p {
    color: #00396D;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #AAB7C4;
}

/* Media query */
@media (max-width: 991px) {
    body {
        background: url('/media/Oester_backsm.jpg') no-repeat right center fixed;
        font-size: 85%;
    }
}
