{% load static %}

<!doctype html>
<html lang="en">
    <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Fonts -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700&family=Satisfy&display=swap">
        <!-- Bootstrap core and Material Design CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/8ccbaa0e54.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
        <!-- Stripe js -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

        <title>Festival van Zeeuwsch-Vlaanderen {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header class="container-fluid fixed-top">
            <!--Navbar -->
            <nav class="mb-1 navbar navbar-expand-lg navbar-light white">
            <a role="link" class="navbar-brand fzv-logo" href="{% url 'home' %}">
                <img class="fzv-logo" src="/media/FestivalZVL_logo.png" 
                alt="Festival van Zeeuwsch-Vlaanderen logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a role="link" class="nav-link" href="{% url 'concerts' %}">Program
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a role="link" class="nav-link dropdown-toggle" id="locations" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locations
                            </a>
                            <div class="dropdown-menu dropdown-default" aria-labelledby="locations">
                            <a class="dropdown-item" href="{% url 'concerts' %}">All locations</a>
                            <a class="dropdown-item" href="{% url 'concerts' %}?location=Scheldetheater">Scheldetheater Terneuzen</a>
                            <a class="dropdown-item" href="{% url 'concerts' %}?location=Basiliek">Sint-Willibrordusbasiliek Hulst</a>
                            <a class="dropdown-item" href="{% url 'concerts' %}?location=Mauritshof">Mauritshof IJzendijke</a>
                            <a class="dropdown-item" href="{% url 'concerts' %}?location=Halle">De Halle Axel</a>
                            <a class="dropdown-item" href="{% url 'concerts' %}?location=GroteKerk">Grote Kerk Groede</a>
                            <a class="dropdown-item" href="{% url 'concerts' %}?location=Industrieel">Industrieel Museum Zeeland</a>
                            <a class="dropdown-item" href="{% url 'concerts' %}?location=Hof">Hof te Zande Kerk Kloosterzande</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a role="link" class="nav-link" href="{% url 'tickets' %}">Tickets</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a role="link" class="nav-link dropdown-toggle" id="previous-editions" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Previous
                            </a>
                            <div class="dropdown-menu dropdown-default" aria-labelledby="previous-editions">
                            <a role="link" class="dropdown-item" href="{% url 'concerts' %}">All editions</a>
                            <a role="link" class="dropdown-item" href="{% url 'concerts' %}?edition=2019">2019</a>
                            <a role="link" class="dropdown-item" href="{% url 'concerts' %}?edition=2018">2018</a>
                            <a role="link" class="dropdown-item" href="{% url 'concerts' %}?edition=2017">2017</a>
                            <a role="link" class="dropdown-item" href="{% url 'concerts' %}?edition=2016">2016</a>
                            <a role="link" class="dropdown-item" href="{% url 'concerts' %}?edition=2015">2015</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a role="link" class="nav-link" href="{% url 'sponsoring' %}">Sponsoring</a>
                        </li>
                        <li class="nav-item">
                            <a role="link" class="nav-link" href="{% url 'media' %}">Media</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item dropdown">
                            <a role="link" class="nav-link dropdown-toggle" id="user-options" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-default" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <a href="{% url 'add_concert' %}" class="dropdown-item">Management</a>
                                        {% endif %}
                                            <a href="{% url 'profile' %}" class="dropdown-item">User Profile</a>
                                            <a href="{% url 'account_logout' %}" class="dropdown-item">Log Out</a>
                                        {% else %}
                                            <a href="{% url 'account_signup' %}" class="dropdown-item">Create Account</a>
                                            <a href="{% url 'account_login' %}" class="dropdown-item">Log In</a>
                                        {% endif %}
                            </div>
                        </li>
                        <li class="nav-item mt-2">
                            <p class="my-0">
                            <a role="link" class="{% if grand_total %}text-info{% else %}text-grey{% endif %}nav-link" 
                                href="{% url 'view_cart' %}">
                                <i class="fas fa-shopping-cart"></i>
                                {% if grand_total %}
                                    &euro; {{ grand_total|floatformat:2 }}
                                {% else %}
                                    &euro; 0,00
                                {% endif %}
                            </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--/.Navbar -->
            <div class="row text-center mt-n2">
                <div class="col bg-blue text-white">
                    <p class="my-1">Edition 32: 18/09 - 16/10 2020 &nbsp;&nbsp;&nbsp;&nbsp;<span class="pearl-text">
                        Boundless Classical Pearls</span></p>
                </div>
            </div>
        </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

        <!--Footer-->
    <footer class="container-fluid page-footer text-center font-small bg-blue darken-2 fixed-bottom">

        <!-- Social icon -->
        <div class="py-2">
        <p class="font-small"><a href="https://www.facebook.com/Festival-van-Zeeuwsch-Vlaanderen-110397946983239" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a> Stichting Festival van Zeeuwsch-Vlaanderen | Bellamystraat 26A | 4532 CP Terneuzen | Telefoon  +31 (0) 115 64 97 51 | KvK nr. 22048030</p>
        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-2">
        © 2020 Copyright:
        <a href="http://designed.irish" target="_blank"> Designed.Irish </a>
        </div>
        <!--/.Copyright-->

    </footer>

    {% block postloadjs %}

    <script type="text/javascript">
        $('.toast').toast('show');
    </script>

    <script type="text/javascript">
        // MDBootstrap caroussel by Marta Szymanska:
        $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
        }
        });
    </script>

    <script type="text/javascript">
        function goBack() {
        window.history.back();
        }
    </script>

    <script type="text/javascript">
        $('.myBtn').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

    {% endblock %}

  </body>
</html>