{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Fonts -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700&family=Satisfy&display=swap">
        <!-- Bootstrap core and Material Design CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/8ccbaa0e54.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Festival van Zeeuwsch-Vlaanderen {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <!--Navbar -->
    <nav class="mb-1 navbar sticky-top navbar-expand-lg navbar-light white">
    <a class="navbar-brand fzv-logo" href="{% url 'home' %}"><img class="fzv-logo" src="/media/FestivalZVL_logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Program
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Previously</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sponsoring</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Media</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="#" class="dropdown-item">Concert Management</a>
                                {% endif %}
                                    <a href="#" class="dropdown-item">User Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Log Out</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Create Account</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Log In</a>
                                {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="{% if grand_total %}text-info{% else %}text-grey{% endif %}nav-link" href="#">
                        <i class="fas fa-shopping-cart"></i>
                    <p class="my-0">
                        {% if grand_total %}
                            &euro; {{ grand_total|floatformat:2 }}
                        {% else %}
                            &euro; 0,00
                        {% endif %}
                    </p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>