.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #f0f0f0 !important;
}

.stripe-style-input::placeholder {
    color: #00396D;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

select,
select option {
    color: #00396D;
}

select:invalid,
select option[value=""] {
    color: #808080 !important;
}

#payment-form .form-control,
#card-element {
    color: #00396D;
    border: 1px solid #00396D;
    border-radius: 3px;
}

#start-spin {
    display: none;
    color: #00396D;
    z-index: 9999;
}

.spinner-content {
    display: flex;
}