{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'concerts/css/concerts.css' %}">
{% endblock %}

{% block content %}
<section>
    <!-- MDBoostrap form tweaked for Festival -->
    <h3 class="text-center my-2 display-4"><strong>Concert Management</strong></h3>
    <hr class="w-header my-3">
    <p class="lead text-center text-muted pt-2 mb-5">Add a Concert:</p>
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <form class="form form-lg" method="POST" action="{% url 'add_concert' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url 'concerts' %}" class="btn btn-warning btn-lg mb-5 rounded-top">
                    <i class="fas fa-backward mr-2"></i> cancel</a>
                <button id="submit-button" class="btn btn-blue btn-lg mb-5 rounded-top">Add Concert</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
