{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
</div>
{% endblock %}

{% block content %}
<!-- concert image -->
<div class="container-fluid">
  <div class="row">
    {% if concert.concert_image %}
    <div class="col-12 px-0 text-center">
        <img class="img-fluid" src="{{ concert.concert_image.url }}" alt="{{ concert.concert_name }}">
    </div>
    {% else %}
    <div class="col-12 px-0">
        <img class="img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ concert.concert_name }}">
    </div>
    {% endif %}
  </div>  
</div>
<!-- concert image -->

<!-- concert details -->
<div class="container">
    <div class="row">
        <div class="col-8 text-center my-3">
            <h1 class="card-title"><strong>{{ concert.friendly_name }}</strong></h1>
            <h2 class="card_text my-3">{{ concert.concert_subtitle }}</h2>
            <h2 class="card_text pearl-text my-3">{{ concert.concert_theme }}</h2>
            <h4 class="card-text">{{ concert.concert_date }}</h4>
            <hr class="my-4">
        {% if concert.concert_conductor %}
            <h5 class="card-text"><strong>Conductor:</strong> {{ concert.concert_conductor }}</h5>
        {% else %}
        {% endif %}
        {% if concert.concert_soloist %}
            <h5 class="card-text"><strong>Soloist:</strong> {{ concert.concert_soloist }}</h5>
        {% else %}
        {% endif %}
            <h5 class="card-text"><strong>Program:</strong> {{ concert.concert_program }}</h5>
            <hr class="my-4">
            <p class="card-text mb-5">{{ concert.concert_description}}</p>
        <div class="clearfix">
            <h5 class="card-text float-left"><strong>Location:</strong> {{ concert.location.friendly_name }}</h5>
            <h5 class="card-text float-right"><strong>Price:</strong> &euro; {{ concert.concert_price }}</h5>
        </div>
        <div class="clearfix">
            <h5 class="card-text float-left"><strong>Time:</strong> {{ concert.concert_time }}</h5>
            <h5 class="card-text float-right"><strong>Available tickets:</strong> {{ concert.concert_availability }}</h5>
        </div>
        <hr class="my-3">
        <div class="row d-flex justify-content-center">
            <form class="form" action="{% url 'add_to_cart' concert.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                    Quantity: <input class="form-control form-qty btn-block" type="number" name="quantity" 
                    value="1" min="1" max="99" data-item_id="{{ concert.id }}" id="id_qty_{{ concert.id }}">
                    <input type="submit" class="btn btn-warning btn-md uppercase-font" value="buy tickets">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
            <div>
            <a href="{% url 'concerts' %}" class="btn btn-primary btn-md uppercase-font">
                <i class="fas fa-backward mr-2"></i>back to program</a>
            </div>
            {% if request.user.is_superuser %}
            <hr class="w-header my-3">
            <small>
                <p>The site manager can edit or delete this concert:</p>
                <a href="{% url 'edit_concert' concert.id %}">Edit</a>
                <a class="text-danger" href="{% url 'delete_concert' concert.id %}">Delete</a>
            </small>
            {% endif %}
        </div>
    </div>
</div>

<!-- Back to Top button -->
<div class="mb-5">
    <button class="btn btn-outline-blue btn-md myBtn rounded-top" title="To top">Back to Top
    <i class="far fa-arrow-alt-circle-up ml-2"></i></button><br><br>
</div>
<!-- Back to Top button -->
{% endblock %}